<h2>{{ title }} app is running!</h2>
<!-- <app-newcomp></app-newcomp>
<app-lshooks></app-lshooks>
<app-dir-dem0></app-dir-dem0>
<app-pipes-demo></app-pipes-demo>
<app-two-way-binding></app-two-way-binding>
<app-service-di></app-service-di>
<app-myhttp></app-myhttp> -->
<hr/>
<nav>
    <ul>
    <li> <a routerLink="/new-component" routerLinkActive="active">New Component</a></li>
    <li> <a routerLink="/ls-hooks" routerLinkActive="active">Hooks</a></li>
    <li> <a routerLink="/dir-demo" routerLinkActive="active">Directive</a></li>
    <li> <a routerLink="/pipes-demo" routerLinkActive="active">Pipes</a></li>
    <li> <a routerLink="/2way-databing-demo" routerLinkActive="active">2 way Data Binding</a></li>
    <li> <a routerLink="/service-di" routerLinkActive="active">Service DI</a></li>
    <li> <a routerLink="/http-client" routerLinkActive="active">Http - Client</a></li>
    <li> <a routerLink="/http-client1" routerLinkActive="active">Http - Client1</a></li>
    </ul>
    </nav>
    <router-outlet></router-outlet>